.jumbotron img{
    width: 200px;
    height: 230px;
}
.thumbnail img{
    width: 350px;
    padding: 10px;
    height: 250px;
}
.portfolio{
    margin-top: 200px;
}
#footer{
    height:30px;
    line-height:30px;
    background :rgb(173, 170, 170);
    color:rgba(5, 5, 5, 0.616);
    position: absolute;
}